@page
@model WebApp.Pages.Participators.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Participator</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Participator.Id" />
            <div class="form-group">
                <label asp-for="Participator.PersonId" class="control-label"></label>
                <select asp-for="Participator.PersonId" class="form-control" asp-items="ViewBag.PersonId"></select>
                <span asp-validation-for="Participator.PersonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Participator.CompanyId" class="control-label"></label>
                <select asp-for="Participator.CompanyId" class="form-control" asp-items="ViewBag.CompanyId"></select>
                <span asp-validation-for="Participator.CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Participator.PaymentType" class="control-label"></label>
                <input asp-for="Participator.PaymentType" class="form-control" />
                <span asp-validation-for="Participator.PaymentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
