@page
@using Domain
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WebApp.Pages.Participators.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="bg-white">
    <div class="row" style="margin-right: 0; margin-left: 0;">

        <div class="col-md-3 bg-primary text-white d-flex align-items-center justify-content-center">
            <h1 class="text-center">Osavõtja info</h1>
        </div>


        <div class="col-md-9 p-0" style="height: 100px; overflow: hidden; object-fit: cover;">
            <img style="width: 150%; " src="~/images/libled.jpg" alt="no img found"/>
        </div>

    </div>

    <div class="w-50 align-content-center mx-auto">
        <br/>
        <h3 class="text-primary">Osavõtja info</h3>
        <br/>
        <div class="row">
            <div class="col">
                @{
                    if (Model.Participator.Company == null)
                    {
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <input type="hidden" asp-for="Participator.Person!.Id" class="form-control">
                            <input type="hidden" asp-for="Participator.PersonId" class="form-control">
                            <input type="hidden" asp-for="Participator.Id" class="form-control">
                            <input type="hidden" name="eventId" value="@Model.EventInfoId"/>


                            <div class="form-group row mb-3">
                                <label asp-for="Participator.Person!.PersonFirstName" class="col-sm-3 col-form-label">Eesnimi:</label>
                                <div class="col-sm-9">
                                    <input asp-for="Participator.Person!.PersonFirstName" class="form-control">
                                    <span asp-validation-for="Participator.Person!.PersonFirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label asp-for="Participator.Person!.PersonLastName" class="col-sm-3 col-form-label">Perekonnanimi:</label>
                                <div class="col-sm-9">
                                    <input asp-for="Participator.Person!.PersonLastName" class="form-control">
                                    <span asp-validation-for="Participator.Person!.PersonLastName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label asp-for="Participator.Person!.PersonIdCode" class="col-sm-3 col-form-label">ID kood:</label>
                                <div class="col-sm-9">
                                    <input type="number" asp-for="Participator.Person!.PersonIdCode" minlength="11" maxlength="11" class="form-control">
                                    <span asp-validation-for="Participator.Person!.PersonIdCode" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row mb-3">
                                <label asp-for="Participator.PaymentType" class="col-sm-3 control-label">Maksmisviis:</label>
                                <div class="col-sm-9">
                                    <select asp-for="Participator.PaymentType" class="form-select">
                                        <option value="BankTransfer">Pangaülekanne</option>
                                        <option value="Cash">Sularaha</option>
                                    </select>
                                    <span asp-validation-for="Participator.PaymentType" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="form-group row mb-3">
                                <label asp-for="Participator.Person!.PersonDescription" class="col-sm-3 col-form-label">Lisainfo: </label>
                                <div class="col-sm-9">
                                    <textarea style="resize: none" asp-for="Participator.Person!.PersonDescription" maxlength="1500" class="form-control" rows="3"></textarea>
                                    <span asp-validation-for="Participator.Person!.PersonDescription" class="text-danger"></span>
                                </div>
                            </div>
                            <br/>
                            <br/>


                            <div class="form-group">
                                <div class="col-sm-4">
                                    <a class="btn btn-light me-2" style="width: 74px" href="/EventInfos/Details?id=@Model.EventInfoId">Tagasi</a>
                                    <input type="submit" style="width: 84px" value="Salvesta" class="btn btn-primary"/>
                                </div>
                                <div class="col-sm-8"></div>
                            </div>
                            <br/>
                        </form>
                    }
                    else
                    {
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Participator.Company!.Id" class="form-control">
                            <input type="hidden" asp-for="Participator.CompanyId" class="form-control">
                            <input type="hidden" asp-for="Participator.Id" class="form-control">
                            <input type="hidden" name="eventId" value="@Model.EventInfoId"/>

                            <div class="form-group row mb-3">
                                <label asp-for="Participator.Company!.CompanyName" class="col-sm-3 col-form-label">Nimi:</label>
                                <div class="col-sm-9">
                                    <input asp-for="Participator.Company!.CompanyName" class="form-control">
                                    <span asp-validation-for="Participator.Company!.CompanyName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label asp-for="Participator.Company!.CompanyRegistryCode" class="col-sm-3 col-form-label">Registrikood:</label>
                                <div class="col-sm-9">
                                    <input type="number" asp-for="Participator.Company!.CompanyRegistryCode" class="form-control">
                                    <span asp-validation-for="Participator.Company!.CompanyRegistryCode" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label asp-for="Participator.Company!.CompanyMemberCount" class="col-sm-3 col-form-label">Osavõtjate arv:</label>
                                <div class="col-sm-9">
                                    <input type="number" asp-for="Participator.Company!.CompanyMemberCount" class="form-control">
                                    <span asp-validation-for="Participator.Company!.CompanyMemberCount" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row mb-3">
                                <label asp-for="Participator.PaymentType" class="col-sm-3 control-label">Maksmisviis:</label>
                                <div class="col-sm-9">
                                    <select asp-for="Participator.PaymentType" class="form-select">
                                        <option value="BankTransfer">Pangaülekanne</option>
                                        <option value="Cash">Sularaha</option>
                                    </select>
                                    <span asp-validation-for="Participator.PaymentType" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="form-group row mb-3">
                                <label asp-for="Participator.Company!.CompanyDescription" class="col-sm-3 col-form-label">Lisainfo: </label>
                                <div class="col-sm-9">
                                    <textarea asp-for="Participator.Company!.CompanyDescription" maxlength="5000" class="form-control" rows="3"></textarea>
                                    <span asp-validation-for="Participator.Company!.CompanyDescription" class="text-danger"></span>
                                </div>
                            </div>
                            <br/>
                            <br/>

                            <div class="form-group">
                                <div class="col-sm-4">
                                    <a class="btn btn-light me-2" style="width: 74px" href="/EventInfos/Details?id=@Model.EventInfoId">Tagasi</a>
                                    <input type="submit" style="width: 84px" value="Salvesta" class="btn btn-primary"/>
                                </div>
                                <div class="col-sm-8"></div>
                            </div>
                            <br/>
                        </form>
                    }
                }
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}