@page
@model WebApp.Pages.EventInfos.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="row" style="margin-right: 0; margin-left: 0;">

    <div class="col-md-3 bg-primary text-white d-flex align-items-center justify-content-center">
        <h1 class="text-center">Üritused</h1>
    </div>

    <div class="col-md-9 p-0" style="height: 100px; overflow: hidden; object-fit: cover;">
        <img style="width: 150%; " src="~/images/libled.jpg" alt="no img found"/>
    </div>

</div>
<div class="bg-white">
    <a href="/EventInfos/Create" class="mb-3 mt-3 fw-bold btn btn-link text-black-50 text-decoration-none">LISA ÜRITUS</a>


    <div class="col bg-white ms-3 ">
        <div class="row">

            <div class="fw-bold row participator mb-2">

                <div class="col-sm-2">
                    Nimi
                </div>
                <div class="col-sm-2">
                    Koht
                </div>
                <div class="col-sm-2">
                    Toimumisaeg
                </div>
                <div class="col-sm-3">
                    Lisa info
                </div>
                <div class="col-sm-3">
                    
                </div>
            </div>
            @foreach (var eventInfo in Model.EventInfo)
            {
                <div class="row participator mb-2">

                    <div class="col-sm-2">
                        @eventInfo.EventName
                    </div>
                    <div class="col-sm-2">
                        @eventInfo.EventLocation
                    </div>
                    <div class="col-sm-2">
                        @eventInfo.EventDateTime.Value.ToShortDateString()
                    </div>
                    <div class="col-sm-3">
                        @eventInfo.EventDescription
                    </div>
                    <div class="col-sm-3">
                        @{
                            <a href="/EventInfos/Details?id=@eventInfo.Id" class="me-2 text-black-50 text-decoration-none">VAATA</a>
                            if (eventInfo.EventDateTime > DateTime.Now)
                            {
                                <a href="/EventInfos/Edit?id=@eventInfo.Id" class="me-2 text-black-50 text-decoration-none">MUUDA</a>
                                <a href="/EventInfos/Delete?id=@eventInfo.Id" class="text-black-50 text-decoration-none">KUSTUTA</a>
                            }
                        }
                    </div>
                </div>
            }

        </div>
    </div>

</div>